<div class="container col-md-6 offset-mid-3">
    <h3> Edit Book </h3>
    <form (ngSubmit) = "onSubmit()">

        <div class="form-group">
            <label style="margin-bottom: 10px"> Book Title </label>
            <input type="text" class="form-control" style="margin-bottom: 10px" id="bookName" [(ngModel)] = "book.title" name="bookName">
        </div>

        <div class="form-group">
            <label style="margin-bottom: 10px"> Author </label>
            <input type="text" class="form-control" style="margin-bottom: 10px" id="bookAuthor" [(ngModel)] = "book.author" name="bookAuthor">
        </div>

        <div class="form-group">
            <label style="margin-bottom: 10px"> Isbn </label>
            <input type="text" class="form-control" style="margin-bottom: 10px" id="bookGenre" [(ngModel)] = "book.isbn" name="bookGenre">
        </div>

        <div class="form-group">
            <label style="margin-bottom: 10px"> Publication Date </label>
            <input type="date" class="form-control" style="margin-bottom: 10px" id="bookGenre" [(ngModel)] = "book.publicationDate" name="bookGenre">
        </div>

        <div class="form-group">
            <label style="margin-bottom: 10px"> Number of Pages </label>
            <input type="text" class="form-control" style="margin-bottom: 10px" id="noOfCopies" [(ngModel)] = "book.numOfPages" name="noOfCopies">
        </div>

        <button class="btn btn-success" type="submit"> Submit </button>
    </form>
</div>